* {
    background-color: crimson
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:white;
  height:100%;
  text-align:center;
  font-size:18px;
}


.image {
  margin: auto;
  width: 800px;
  height: 200px;
}

.wrappper{
  width:100%;
  margin: auto;
  
}

.container-1 {
    width: 20%;
    margin: auto;
}

canvas{
  color:white;
  border: white solid 2px;
  padding:15px;
}

h1, h2, h3 {
	font-family: 'Baloo Tammudu', cursive;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.6em;
}

p {
    font-size: 1.6em;
}

#alphabet li {
  float:left;
  color: black;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background: aqua;
  cursor:pointer;
  border: solid 1px white;
  align-self: center; 
}


#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}



#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}

button{
  color:white;
  border: solid 1px white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }